<div class="container">
  <div class="text-success">
    <%= flash[:notice] %>
  </div>
  <div class="row m-3">
    <div　class="col-3">
      <h3 class="px-4" style="background: #f3f3f3">商品詳細</h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-4 offset-2">
      <%= image_tag @item.get_image(300,250) %>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.description %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>
            税込価格<br>
            (税抜価格)
          </td>
          <td class="pt-4">
            <%= number_to_currency(@item.add_tax_price, format: "%n") %>
            (<%= number_to_currency(@item.price_without_tax, format: "%n") %>)円
          </td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td>
            <% if @item.is_sales == true %>
              <p class="text-success"><strong><%= item_status_name(@item) %></strong></p>
            <% else %>
              <p class="text-secondary"><strong><%= item_status_name(@item) %></strong></p>
            <% end %>
         </td>
        </tr>
      </table>
      <div class="text-center">
        <%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-success px-4" %>
      </div>
    </div>
  </div>
</div>
