<div class="row mt-5">
  <table class="table">
    <thead style="background: #f3f3f3">
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% order_datail.each do |order_datail| %>
        <%= form_with model: [order, order_datail], url: admin_order_order_detail_path(order_datail), local: false do |f| %>
          <tr>
            <td><%= order_datail.item %></td>
            <td><%= order_datail.price_including_tax %></td>
            <td><%= order_datail.amount %></td>
            <td><%= order_datail. %></td>
            <td><%= order_datail.item %></td>
            <td><%= order_datail.item %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>