<div class="container mt-5">
  <div class="row">
    <div class="offset-1 text-center">
      <h3 class="px-4" style="background: #f3f3f3"><%= "#{@customer.family_name} #{@customer.first_name}さんの注文履歴" %></h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10 mx-auto">
      <table class="table border-bottom">
        <thead style="background: #f3f3f3">
          <tr>
            <th>購入日時</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><u><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), data: { turbolinks: false }, class: "text-reset" %></u></td>
              <td><%= calculate_order_total_amount(order) %></td>
              <td><%= order.transaction_status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @orders %>
</div>