<div class="container py-5">
  <p class="<%= flash[:color] %>"><%= flash[:notice] %></p>
  <div class="row mt-2 mb-3 offset-1 text-center">
    <h3 class="px-4 title-background">ジャンル一覧・追加</h3>
  </div>
  <div class="row", style="width: fit-content; margin: 0 auto;">
    <div class="col-6 ml-3 mb-5">
      <%= render "new_form", genre: @genre %>
    </div>
    <div class="col-6">
      <%= render "index", genres: @genres %>
      <%= paginate @genres %>
    </div>
  </div>
</div>
