<table class="table table-bordered">
  <thead class="bg-light">
    <tr>
      <td>商品名</td>
      <td>単価（税込）</td>
      <td>数量</td>
      <td>小計</td>
      <td></td>
    </tr>
  </thead>
  <% cart_items.each do |cart_item| %>
    <tbody>
      <tr>
        <td>
          <%= image_tag cart_item.item.get_image(30,30) %>
          <%= cart_item.item.name %>
        </td>
        <td>¥<%= ((cart_item.item.price_without_tax * 1.1).floor).to_s(:delimited) %></td>
        <td>
          <%= form_for(cart_item, url: cart_item_path(cart_item), method: :patch) do |f| %>
            <p>
              <%= f.number_field :amount,*[1..10] %>
              <%= f.submit "変更", class: "btn btn-primary" %>
            </p>
          <% end %>
          </td>
        <td>¥<%= ((cart_item.item.price_without_tax * 1.1).floor * cart_item.amount).to_s(:delimited) %></td>
        <td>
          <%= link_to "削除", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>