<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="mt-4 logo"><%= link_to 'LOGO', root_path  %></div>
    </div>
    <div class="col-8">
      <div class="my-2 row justify-content-end">
        <% if admin_signed_in? %>
          <div class="mr-3 menu"><%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '注文履歴一覧', admin_top_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3  menu"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %></div>
        <% elsif customer_signed_in? %>
          <div class="mr-3 menu"><%= link_to 'マイページ', my_page_custmoers_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to 'カート', cart_items_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログアウト', destroy_custmers_path, method: :delete, class: "btn btn-outline-secondary" %></div>
        <% else %>
          <div class="mr-3 menu"><%= link_to 'About', about_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-secondary" %></div>
        <% end %>
      </div>
      <div class="row justify-content-end">
        <input type="text" placeholder="Search">
      </div>
    </div>
  </div>
</div>
