<div class="container-fulid border-bottom">
  <div class="row mx-4 my-3">
    <div class="col-3">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <% if customer_signed_in?%>
        <p><%= "ようこそ、#{current_customer.family_name}#{current_customer.first_name}さん！" %></p>
      <% end %>
    </div>
    <div class="col-5">
      <div class="my-2 row justify-content-end">
        <% if admin_signed_in? %>
          <div class="mr-3 menu"><%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '注文履歴一覧', admin_root_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3  menu"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %></div>
        <% elsif customer_signed_in? %>
          <div class="mr-3 menu"><%= link_to 'マイページ', my_page_customers_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to 'カート', cart_items_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %></div>
        <% else %>
          <div class="mr-3 menu"><%= link_to 'About', about_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '商品一覧', items_path, class: "btn btn-outline-secondary" %></div>
          <div class="mr-3 menu"><%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-secondary" %></div>
          <div class="menu"><%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-secondary" %></div>
        <% end %>
      </div>
      <!-- 検索窓実装未 -->
      <div class="row justify-content-end">
        <input type="text" placeholder="Search">
      </div>
    </div>
  </div>
</div>
